<table cellpadding="2" cellspacing="2">
  <tr>
    <td width="100">Ticket ID</td>
    <td width="100">Customer Name</td>
    <td width="100">Unit</td>
    <td width="100">Serial</td>
  </tr>
<%= render :partial => 'search', :collection => @tickets %>
</table>