div {
	border: 1px dashed #888;
/*	padding: 2px; */
}

div div {
	border: 1px dotted #888;
}

div div div {
	border: 1px dashed #bbb;
}

div div div div {
	border: 1px dotted #bbb;
}

div div div div div {
	border: 1px dashed #ddd;
}