<%= error_messages_for 'link' %>

<!--[form:link]-->
<p><label for="link_title">Title</label><br/>
<%= text_field 'link', 'title'  %></p>

<p><label for="link_link">Link</label><br/>
<%= text_field 'link', 'link'  %></p>
<!--[eoform:link]-->

