<h1>Step 3 - New Ticket</h1>

<% unless @ticket.errors.empty? %>
<%= error_messages_for "ticket" %>
<% end %>

<% form_for :ticket, @ticket do |t| %>
<% fields_for :note, @note do |n| %>
<%= render :partial => 'ticket_form', :locals => { :t => t, :n => n } %>
<% end # fields_for |n| %>
<% end # form_for |t| %>