<% for column in Technician.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @technician.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @technician %> |
<%= link_to 'Back', :action => 'list' %>
